.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__form {
    background-color: #59478b;
    display: flex;
    flex-direction: column;
    width: 12rem;
    padding: 2rem;
    padding-bottom: 1rem;
    border-radius: 0.625rem;
    position: relative;
    overflow: hidden;

    &-banner {
      background-color: #f2e24c;
      text-align: center;
      height: 1rem;
      width: 5rem;
      transform: rotate(-45deg);
      position: absolute;
      top: 12px;
      left: -20px;
      font-size: 12px;
      color: #210a02;
      padding: 0.1rem;
    }

    &-label {
      color: #f2e24c;
      margin-bottom: 0.5rem;
    }

    &-input {
      margin-bottom: 0.5rem;
    }

    &-buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 0.5rem;
    }
    &-cancel {
      margin-right: auto;
      text-decoration: none;
      color: #f2e24c;
    }
    &-button {
      align-self: flex-end;
      width: 3.75rem;
      background-color: #f2e24c;
      color: #59478b;
      border: hidden;
      padding: 0.25rem;
      border-radius: 0.625rem;
      font-family: Scala;
      font-weight: 600;
    }
  }

  &__signup {
    margin-top: 1rem;
    font-weight: 600;
  }
}
