.footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  text-align: center;

  &__text {
    font-size: 1rem;
    color: #e5303d;
  }
}
