@use "../../util/mixins" as *;

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  position: relative;

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  &__title {
    text-align: center;
    text-decoration: none;
    color: black;
  }
  &__dropdown {
    margin-right: 1rem;
    position: absolute;
    right: 0;
    border: none;
    background: none;

    &:hover {
      filter: brightness(1.2);
      cursor: pointer;
    }
    &-img {
      width: 2rem;
      height: 2rem;
    }

    &-menu {
      display: flex;
      flex-direction: column;
      text-align: end;
      position: absolute;
      right: 1rem;
      background-color: black;
      top: 50px;
      border-radius: 4px;

      &--item {
        font-size: 0.75rem;
        text-decoration: none;
        color: white;
        font-weight: 600;
        height: 2rem;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid white;
        border-radius: 4px;

        &:last-child {
          color: #e5303d;
        }
      }
    }
  }
  &__logo {
    width: 6rem;
    height: 6rem;
    align-self: center;
    margin-bottom: 0.75rem;
  }
}

.fade-top {
  animation: animatetop 0.4s;
}
