@use "./variables" as *;

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@keyframes animatetop {
  from {
    top: 40px;
    opacity: 0;
  }
  to {
    top: 50px;
    opacity: 1;
  }
}
