@use "./variables" as *;

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@keyframes animatetop {
  from {
    top: 40px;
    opacity: 0;
  }
  to {
    top: 50px;
    opacity: 1;
  }
}

@mixin button {
  align-self: flex-end;
  width: 3.75rem;
  border: hidden;
  padding: 0.25rem;
  border-radius: 0.625rem;
  font-family: Scala;
  font-weight: 600;
}
