@font-face {
  font-family: "Dalelands";
  src: url("../assets/fonts/Dalelands.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Draconis";
  src: url("../assets/fonts/Draconis.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Scala";
  src: url("../assets/fonts/scala-sans-regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
